/* head elemts here */

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Shadows Into Light', cursive;
}


nav {
  height: 80px;
  width: 100%;
  background: rgb(48, 53, 112);
  position: fixed;
  overflow-y: hidden;
  z-index: 2;
  top: 0;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    padding: 0 100px;
}

nav ul {
    margin-right: 40px;
    float: right;

}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

html {
 scroll-behavior: smooth;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 3px solid transparent;
  padding: 7px 10px;
  border-radius:3px;
  transition: 0.3s;
}

 a:hover {
    transition: 0.5s;
    color: rgb(197, 197, 255);
}

#ragdoll {
    height: 300px;
    width: 400px;
    margin-top: 10px;
}

#kitty {
    float: right;
    position: absolute;
    top: 32px;
    z-index: 1;
    transform: rotate(180deg);
}



#about {
    height: 750px;
    width: 100%;
    background-color: rgb(60, 60, 99);
}

/* body elemts down here */

.background {
  background-image: url('/images/gatp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  opacity: 0.75;
}

.background {
  color: white;
  font-size: 200px;
  display: grid;
  place-items: center;
  align-content: center;
}

#breeds {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 110vh;
  background-color: rgb(28, 28, 102);
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}

 #act {
 margin: 20px;
 width: 80%;
 }


#breed {
  margin-top:100px;
}

.cat-breeds , p {
  width: 400px;
}

img {
  border-radius: 0.2cm;
  
}

#tips {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 90vh;
  background-color: rgb(49, 49, 165);
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#know {
  margin-bottom: 10px;
}

#row {
  margin: 10px;
}

 b {
  color: rgb(135, 148, 248);
 }